.DS_Store
.idea
/libraries/*
/app/config/bootstrap/*
!app/config/bootstrap/connections.php
/app/libraries/
/app/extensions/*
!app/extensions/adapter
/app/controllers/*
!app/controllers/ParseController.php
/app/models/
/app/resources/
/app/views/*
!app/views/parse/
/app/webroot/

.*.sw[op]
